@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

$body-bg: #f1eff2;
$body-bg-img: '../img/symphony.png';
$body-font-color: #222;
$body-font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
$link-color: #fefefe;
$link-color-hover: white;

* {
    box-sizing: border-box;
}

html {
    background: $body-bg url($body-bg-img) repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    font-family: $body-font-family;
    color: $body-font-color;
    padding-top: 5em;
    padding-bottom: 3em;
}

h1, h2 {
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}
