@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700);

$body-bg: #f1eff2;
$body-bg-img: '../img/grey.png';
$body-font-color: #222;
$body-font-family: 'Alegreya Sans', Helvetica, Arial, sans-serif;
$link-color: #fefefe;
$link-color-hover: white;
$accent-color: #947B9B;
// $tint-gradient:  linear-gradient(rgba(200, 200, 200, 0.45), rgba(200, 200, 200, 0.45));

* {
    box-sizing: border-box;
}

html {
    background: $body-bg url($body-bg-img) repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    font-family: $body-font-family;
    color: $body-font-color;
    padding-top: 5em;
    padding-bottom: 3em;
}

h1, h2 {
    font-weight: 700;
    // text-transform: uppercase;
    padding: 0;
    margin-bottom: 0.5em;
}

a {
    text-decoration: none;
    color: $link-color;
    &:hover {
        color: $link-color-hover;
    }
}

ul {
    list-style-type: none;
}

li {
    margin-left: -2.5em;
}
