@import "normalize";
@import "global";

.container {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: center;
    width: 90%;
    max-width: 768px;
    margin: auto;
}

.box {
    min-width: 250px;
    min-height: 250px;
    flex-grow: 1;
    margin: 5px;
    padding: 1.5em 1em 1.5em 2em;
    box-shadow: 0 8px 6px -6px #aaa;
    border-radius: 3px;
}

.name {
    background-color: #ddd;
}

.code {
    background: #ccc url('http://www.arielkaplan.com/portfolio/portraitgabby.jpg') no-repeat;
    background-size: cover;
}

.design {
    background: #ccc url('http://www.arielkaplan.com/portfolio/portraitgabby.jpg') no-repeat;
    background-size: cover;
}

.dance {
    background: #ccc url('http://kapari.github.io/images/dance-bw.jpg') no-repeat;
    background-size: cover;
}

a.box {
    opacity: 0.8;
    &:hover {
        opacity: 1;
        box-shadow: 0 8px 6px -6px #999;
    }
}
