@import "normalize";
@import "global";

.container {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.box {
    position: relative;
    min-height: 250px;
    flex-grow: 1;
    margin: 5px;
    padding: 1.5em 1.5em 1.5em 2em;
    box-shadow: 0 8px 6px -6px #aaa;
    border-radius: 3px;
    // &:not(.name):before {
    //     content: "";
    //     display: block;
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background: rgba(0,255,255, 0.5);
    //     border-radius: 3px;
    //     transition: all 0.5s ease;
    // }
    // &:hover:before {
    //     background: none;
    // }
}

.name {
    background-color: $link-color;
    border: 1px solid #aaa;
    h2 {
        text-transform: none;
        font-weight: 400;
        margin-top: 0;
    }
    a {
        color: $accent-color;
        transition: all 0.5s ease;
        &:hover {
            color: darken($accent-color, 15%);
        }
    }
}


// Splitting the "background size" independently of the "background" breaks it
.code {
    background: $tint-gradient, url('../img/code_js.png') no-repeat;
    background-size: cover;
}

.design {
    background: $tint-gradient, url('../img/art-gabby.jpg') no-repeat;
    background-size: cover;
}

.dance {
    background: $tint-gradient, url('../img/dance-bw.jpg') no-repeat;
    background-size: cover;
}

a.box {
    opacity: 0.9;
    transition: all 0.5s ease;
    &:hover {
        opacity: 1;
        box-shadow: 0 10px 6px -6px #aaa;
        transform: translateY(-3px);
    }
}

@media (min-width: 768px) {
    .container {
        width: 80%;
        max-width: 1000px;
        flex-flow: row wrap;
    }
    .box {
        min-width: 49%;
    }
}
